@import "./setup/theme.scss";

.addEmployee,
.editEmployee,
.addTaskWrapper,
.editTaskWrapper {
  width: 100%;
  @include flex(flex, space-between, center, column, 30px, wrap);
  padding: 0 20px;
  h2 {
    padding-top: 20px;
  }
  form {
    width: 50%;
    padding: 20px 50px;
    background: $navColor;
    border-radius: 10px;
    @media screen and (max-width: 800px) {
      width: 80%;
    }
    @media screen and (max-width: 500px) {
      width: 100%;
      padding: 10px 20px;
    }
    div {
      margin: 10px 0;
      textarea {
        width: 100% !important;
      }
      #feedback {
        color: #ee8b8b;
      }
      label {
        color: #fff;
      }

      input {
        width: 100%;
        border: none;
        height: 30px;
        padding: 0 10px;
        font-size: 18px;
        border-radius: 5px;
        &:focus {
          outline: none;
        }
      }
    }
    button {
      border: none;
      cursor: pointer;
      padding: 10px 35px;
      font-size: 18px;
      transition: all 0.5s ease;
      border-radius: 30px;
      color: $textColor;
      @media screen and (max-width: 350px) {
        font-size: 15px;
      }
      &:hover {
        background: $hover;
        color: $textLight;
      }
    }
  }
}
