@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import "../src/assets/sass/navComponent.scss";
@import "../src/assets/sass/homeComponent.scss";
@import "../src/assets/sass/employeeComponent.scss";
@import "../src/assets/sass/departmentComponent.scss";
@import "../src/assets/sass/addEmployeePage.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.linkReset {
  text-decoration: none;
}
